// Default variable overrides
$primary:   #ad1d28;
$danger:    #9f1daa; 
$secondary: #1d6faa;
$success:   #1daa9f;
$info:      #1daa9f;
$warning:   #1daa9f;
$light:     #1daa9f;
$dark:      #1daa9f;

.navbar-dark {
    background-color: $primary;
}




// IMPORTS
@import "../vendor/bootstrap-5.0.2/scss/bootstrap";
@import "../vendor/bootstrap-5.0.2/scss/functions";
@import "../vendor/bootstrap-5.0.2/scss/variables";
@import "../vendor/bootstrap-5.0.2/scss/mixins";
@import "../vendor/bootstrap-5.0.2/scss/root";
@import "../vendor/bootstrap-5.0.2/scss/reboot";
@import "../vendor/bootstrap-5.0.2/scss/type";
@import "../vendor/bootstrap-5.0.2/scss/images";
@import "../vendor/bootstrap-5.0.2/scss/containers";
@import "../vendor/bootstrap-5.0.2/scss/grid";


