html, body {
    height: 100%;
}

html {
    overflow: hidden;
}

.ISS_menu {
    border-left: 1px solid $dark;
}

#ISS_markers {
    overflow-y: auto;
}

#markers-regions-div {
    overflow-y: auto;
}

#ISS_marker_info {
    z-index: 19;
    pointer-events: none;
}

.range-label {
    width: 30px;
    display: inline-block;
}

.openseadragon-canvas svg {
    z-index: 11;
}

.navigator {
    z-index: 12;
}

#ISS_globalmarkersize {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 13;
    text-align: center;
}

#piechartLegend {
    left: 10px;
    top: 10px;
    overflow-y: auto;
    max-height: 55vh;
    z-index: 13;
}

.marker_table {
    user-select: none;
    font-size: 13px;
}

.marker_table td {
    vertical-align: middle;
}

.transition_background td {
    transition: background-color 2s;
    transition-timing-function: ease-in;
}

#ISS_collapse_btn {
    border-radius: 5px 0 0 5px;
    width: inherit;
    // Height of the collapsing button
    line-height: inherit;
    padding: 0px;
    font-size: 12px;
    // Important to always be above any other UI item
    z-index: 100;
}

.regions_table {
    user-select: none;
    font-size: 13px;
}

.regions_table td {
    vertical-align: middle;
}

#image-overlay-table {
    user-select: none;
    font-size: 13px;
}

.cursor-pointer {
    cursor: pointer;
}

.accordion-button {
    padding: 0.5rem 1.25rem;
}

#main-tabs-menu{
    background-color: white;
}

#messagebox_modal {
    z-index: 10000;
}

.progress-bar {
    transition: width 0s ease !important;
}